body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  margin: 0;
}


/* <375px */
/* @media screen and (max-width:375px) {
  #app {
    width: 100%;
  }
} */

/* >=375px and <450px */
/* @media screen and (min-width:375px) and (max-width:450) {
  #app {
    width: 100%;
  }
} */

/* <600px */
@media screen and (max-width:600px) {
  #app {
    width: 100%;
  }
}

/* >=600px and <900px */
@media screen and (min-width:600px) and (max-width:900) {
  #app {
    /* width: 100%; */
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* >=900px */
@media screen and (min-width:900px) {
  #app {
    margin-left: 18%;
    margin-right: 18%;
    /* width: 100%; */
  }
}

.talent-item {
  padding-inline-start: 0px;
}

.talent-item>li {
  list-style-type: none;
  /* 垂直居中 */
  display: flex;
  align-items: center;

  /* 间距 */
  padding: 2px 0;
}

/* 微信 */
.wechat-image {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.sub-indent-30 {
  padding-inline-start: 30px;
}

/* 反转文字 */
.reverse-word {
  direction: rtl;
  unicode-bidi: bidi-override;
}

/* 技术架构-标签 */
.technology-label {
  margin: 2px 4px;
}

/* 时间戳 */
.el-timeline-item__timestamp {
  font-size: 16px;
}

.dashboard-box {
  margin-bottom: 40px;
}