.project-box {
  position: relative;
  margin-bottom: 10px;
}

.project-index {
  position: sticky;
  top: 0;
  background: #fff;
}

.project-content {
  border-radius: 4px;
  border: 1px solid #EBEEF5;
  padding: 4px 8px;
  min-height: 600px;
}