.recruitment-box {}

.recruitment-index {
  position: fixed;
  top: 100px;
  left: 10px;
  width: 16%;
  max-height: 300px;
}

.recruitment-content {
  border-radius: 4px;
  border: 1px solid #EBEEF5;
  padding: 4px 8px;
  min-height: 600px;
}